<!DOCTYPE html>

<html lang="en">

<head>



<meta charset="UTF-8">



<meta name="viewport" content="width=device-width, initial-scale=1.0">



<title>Courses</title>



<link rel="stylesheet"

href="{{ url_for('static', filename='style.css') }}">



</head>



<body class="courses-page">



<header>



<div class="navbar">



<div class="logo-section">



<img src="{{ url_for('static', filename='logo.png') }}" class="logo">



<h2>GVP Consultancy</h2>



</div>



<nav>

<a href="/">Home</a>

<a href="/courses">Courses</a>

<a href="/contact">Contact Us</a>

</nav>



</div>



</header>



<section class="course-container">



<h1>Available B.Tech Branches</h1>



<div class="course-grid">



<div class="course-card">Computer Science Engineering</div>



<div class="course-card">Artificial Intelligence</div>



<div class="course-card">Information Technology</div>



<div class="course-card">Mechanical Engineering</div>



<div class="course-card">Civil Engineering</div>



<div class="course-card">Electrical Engineering</div>



<div class="course-card">Electronics Engineering</div>



<div class="course-card">Data Science</div>



</div>



</section>



</body>

</html>

