<!DOCTYPE html>

<html lang="en">

<head>



    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <title>GVP Consultancy</title>



    <link rel="stylesheet"

    href="{{ url_for('static', filename='style.css') }}">



    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">



</head>



<body>



<header>



    <div class="navbar">



        <div class="logo-section">



            <img src="{{ url_for('static', filename='logo.png') }}" class="logo">



            <h2>GVP Consultancy</h2>



        </div>



        <nav>

            <a href="/">Home</a>

            <a href="/courses">Courses</a>

            <a href="/contact">Contact Us</a>

        </nav>



    </div>



</header>



<section class="hero">



    <div class="overlay">



        <h1>B.Tech Admission Open 2026</h1>



        <h3>Shape Your Future With GVP Consultancy</h3>



        <p>

            Admission Guidance For All Engineering Branches

            Across Top Colleges.

        </p>



        <a href="/contact">

            <button>Apply Now</button>

        </a>



    </div>



</section>



<section class="features">



    <div class="card">

        <h2>Expert Guidance</h2>

        <p>Professional Admission Support.</p>

    </div>



    <div class="card">

        <h2>Top Colleges</h2>

        <p>Get Admission In Best Engineering Colleges.</p>

    </div>



    <div class="card">

        <h2>Career Counseling</h2>

        <p>Choose Right Branch For Your Future.</p>

    </div>



</section>



</body>

</html>